/* ~~~~~~~~~~~~~~~~~~~~~~~~~ SLIDER */

#slider {
	// background-color: var(--label-orange-bg);
	background: url("https://raw.githubusercontent.com/luamoris/webland/patch/content/struct/src/img/slider/1.jpg") 0 0 / 100% auto no-repeat fixed;

	.section__body {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;

		span {
			font-weight: 900;
			font-size: 60px;
			text-transform: uppercase;
			color: rgb(255, 255, 255);
		}
	}
}
