/* ~~~~~~~~~~~~~~~~~~~~~~~~~ SLIDER */

#slider {
	// background-color: var(--label-orange-bg);
	background: url("https://lh6.googleusercontent.com/-hiOBZWbNiho8-ABfurHqKUCEeSbjVaCL38PxFbbCLfA8eQqFW5nEIgkZa0POYPBRyLTk7wj_pY1O6AtrsK2=w1920-h913-rw") 0 0 / 100% auto no-repeat fixed;

	.section__body {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;

		span {
			font-weight: 900;
			font-size: 60px;
			text-transform: uppercase;
			color: rgb(255, 255, 255);
		}
	}
}
