/* MAIN */


/* Settings

Основной цвет (темный): #1C1B21
Основной цвет (светлый): #F77947

*/


/* Import */

@import "header.css";
@import "space.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,800;1,500&display=swap');

/* end */


/* Настройки страницы */

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* Убираем синие выдиление фона при клике на тег a*/
    -webkit-tap-highlight-color: transparent;
}


/* Fons */

::-webkit-input-placeholder {
    color: rgba(244, 197, 179, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

::-moz-placeholder {
    color: rgb(244, 197, 179, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

:-ms-input-placeholder {
    color: rgb(244, 197, 179, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

:-moz-placeholder {
    color: rgb(244, 197, 179, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}


/* Контейнер всего контента*/

.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}


/* Контейнер рамок */

.conteiner {
    max-width: 1840px;
    min-width: 210px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}


/* Убрать скроллбар с страницы, но оставить возможность прокрутки */


/* ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */