/* ==================================================================
	COLOR
===================================================================== */
@import "color";

/* ==================================================================
	SCSS
===================================================================== */

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ VALUES
$container: 1270px;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MIXIN
@import "mixin";

/* ==================================================================
	IMPORT FONTS
===================================================================== */
@import "fonts";
@import "icons";

/* ==================================================================
	NORMALIZE
===================================================================== */
@import "normalize";

/* ==================================================================
	MAIN STYLE
===================================================================== */

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MAIN

html {
	font-family: "Montserrat";
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
}

#wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 320px;
	min-height: 100vh;
}

::selection {
	background-color: var(--selection);
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COMPONENTS
@import "components";

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CONTENT
@import "./parts/app";
@import "./parts/page";
@import "./parts/header";
@import "./sections/home";
@import "./sections/about";
@import "./sections/works";
@import "./sections/skills";
@import "./parts/footer";
