/* ====================================================================================== ROOT */

:root {
	--bg: linear-gradient(0deg, #faf0cd, #fab397);
	--article: rgba(255, 255, 255, 0.4);
	--topic: #323232;
	--text: #434343;
}

/* ====================================================================================== MAIN */

html {
	font-family: "Poppins";
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
}

.wrapper {
	display: flex;
	width: 100%;
	min-width: 375px;
}

.main {
	width: 100%;
	background: var(--bg);
}

.container {
	margin: 0 auto;
	padding: 0 10px;
	max-width: 1000px;
}

.main__body {
	width: 100%;
	min-height: 100vh;
}

/* ====================================================================================== CONTENT */

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 0 auto;
	padding: 20px 0;
	width: 80%;
}

._full, ._block {
	margin-bottom: 20px;
	border-radius: 5px;
	width: 100%;
	background-color: var(--article);
}

._block {
	padding: 20px;
}

.title {
	margin-bottom: 10px;
	color: var(--topic);
}

.text {
	color: var(--text);
}

.media {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.picture {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	width: 200px;
	height: 200px;
	background: url("../img//load.gif") center / 100px no-repeat;
	object-fit: cover;

	img {
		border-radius: 5px;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.map {
	&__body {
		width: 100%;
		min-height: 150px;
		background: url("../img//load.gif") center / 100px no-repeat;
	}

	iframe {
		border-radius: 5px;
		width: 100%;
		height: 500px;
	}
}

._load-more {
	width: 100%;
}

._loading-icon {
	height: 100px;
	background: url("../img//load.gif") center / 100px no-repeat;
}
