/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CONTENT */

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	grid-area: content;
	width: 100%;
	height: 100%;
}

.section {
	width: 100%;

	&__container {
		padding: 30px 100px;
		width: 100%;
		height: 100%;
	}

	&__body {
		width: 100%;
	}
}

.section.fullscreen {
	height: 100vh;
}

@media (max-width: 1024px) {
	.section {
		&__container {
			padding-right: 32px;
			padding-left: 32px;
		}
	}
}

@media (max-width: 768px) {
	.section {
		&__container {
			padding-right: 15px;
			padding-left: 15px;
		}
	}
}
