/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ PT SANS */

@font-face {
	src: url("../fonts/PTSans/PTSans-Regular.ttf") format("truetype");
	font-family: "PTSans";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/PTSans/PTSans-Bold.ttf") format("truetype");
	font-family: "PTSans";
	font-weight: 500;
	font-style: normal;
}

@font-face {
	src: url("../fonts/PTSans/PTSans-Italic.ttf") format("truetype");
	font-family: "PTSans";
	font-weight: 100;
	font-style: italic;
}

@font-face {
	src: url("../fonts/PTSans/PTSans-BoldItalic.ttf") format("truetype");
	font-family: "PTSans";
	font-weight: 200;
	font-style: italic;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MONTSERRAT */

@font-face {
	src: url("../fonts/Montserrat/Montserrat-Regular.otf") format("truetype");
	font-family: "Montserrat";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Montserrat/Montserrat-Medium.otf") format("truetype");
	font-family: "Montserrat";
	font-weight: 500;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Montserrat/Montserrat-SemiBold.otf") format("truetype");
	font-family: "Montserrat";
	font-weight: 600;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Montserrat/Montserrat-Bold.otf") format("truetype");
	font-family: "Montserrat";
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Montserrat/Montserrat-ExtraBold.otf") format("truetype");
	font-family: "Montserrat";
	font-weight: 800;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Montserrat/Montserrat-Black.otf") format("truetype");
	font-family: "Montserrat";
	font-weight: 900;
	font-style: normal;
}
