/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER */

.header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	background: var(--header-line);
	transition: transform 300ms ease;

	// .header__container
	&__container {
		margin: 0 auto;
		padding: 16px 32px;
		max-width: 1270px;
	}

	// .header__body
	&__body {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		height: 50px;
	}

	// .header_out
	&._out {
		transform: translateY(-100%);
	}
}

.logo {
	position: relative;
	z-index: 101;
	flex: 0 0 60px;
	margin-right: 40px;

	// .logo__picture
	&__picture {
		width: 60px;
		height: 60px;

		img {
			width: 100%;
			height: 100%;
		}
	}
}

.menu {
	height: 100%;

	// .menu_sub_one
	&_sub_one {
		position: relative;
	}

	// .menu_sub_box
	&_sub_box {
		display: flex;
		height: 100%;
	}

	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		height: 100%;
	}

	// .menu__item
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 10px;
		height: 20px;
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height: 100%;
		font-weight: 700;
		text-decoration: none;
		text-transform: uppercase;
		color: var(--menu-text);
		cursor: pointer;
	}

	// .menu__arrow
	&__arrow {
		display: none;
		margin-left: 5px;
		width: 15px;
		height: 20px;
		background: var(--btn-sub-menu) center center/15px auto no-repeat;
	}

	// .menu__burger
	&__burger {
		position: relative;
		z-index: 101;
		display: none;
		width: 40px;
		height: 28px;
		cursor: pointer;

		&::before, &::after, span {
			position: absolute;
			border-radius: 2px;
			width: 100%;
			height: 3px;
			background-color: var(--main-bold);
			transition: transform 200ms ease;
		}

		&::before, &::after {
			content: "";
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: 13px;
		}
	}

	&__burger.active {
		&::before {
			transform: translateY(13px) rotate(-45deg);
		}

		&::after {
			transform: translateY(-13px) rotate(45deg);
		}

		span {
			transform: rotateY(90deg);
		}
	}

	// .menu__box
	&__box, &__container, &__content {
		height: 100%;
	}
}

body.touch .menu {
	// .menu_sub_one
	&_sub_one {
		.menu__arrow {
			display: block;
			transition: transform 150ms;

			&.active {
				transform: rotate(180deg);
			}
		}

		&.menu_sub_open {
			.sub-menu {
				display: block;
			}
		}
	}
}

body.mouse .menu {
	// .menu_sub_one
	&_sub_one {
		&:hover {
			.sub-menu {
				display: block;
			}
		}
	}
}

.sub-menu {
	position: absolute;
	display: none;

	&_one {
		left: 0;
		top: 15px;
		padding: 10px 0 0;

		.sub-menu__list {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			border-radius: 5px;
			padding: 15px 0;
			box-shadow: 0 4px 4px var(--sub-menu-shadow);
			background: var(--bg);
		}

		.sub-menu__item {
			display: flex;
			flex: 0 0 24px;
			align-items: center;
			width: 140px;

			&:hover {
				background-color: var(--sub-menu-item-bg);
			}
		}

		.sub-menu__link {
			display: flex;
			align-items: center;
			padding: 0 20px;
			width: 100%;
			height: 20px;
			font-weight: 600;
			font-size: 12px;
			text-transform: capitalize;
			color: var(--sub-menu-text);
		}
	}
}

@media (max-width: 768px) {
	.header {
		&__body {
			justify-content: space-between;
		}

		&__container {
			padding: 10px 15px;
		}
	}

	.menu {
		position: relative;
		height: auto;

		&__burger {
			display: block;
		}

		&_sub_box {
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}

		&__box {
			position: fixed;
			left: 0;
			top: 0;
			z-index: -1;
			overflow: hidden;
			width: 100%;
			height: 100%;
			min-height: 100vh;
			background-color: var(--bg);
			transform: translateY(-100%);
			transition: transform 300ms ease;
		}

		&__container {
			margin-top: 90px;
			padding: 20px 10px;
			width: 100%;
			height: calc(100% - 90px);
		}

		&__content {
			overflow-x: hidden;
			overflow-y: auto;
			width: 100%;
			height: 100%;
		}

		&__list {
			flex-direction: column;
			width: 100%;
			height: auto;
		}

		&__item {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			margin: 10px 0;
			padding: 0 32px;
			width: 100%;
			height: auto;
			min-height: 20px;
		}
	}

	.menu.burger_open {
		.menu__list {
			opacity: 1;
		}

		.menu__box {
			transform: translateY(0);
		}
	}

	body.burger_open {
		overflow: hidden;
	}

	.sub-menu {
		position: static;

		&_one {
			.sub-menu__list {
				padding: 0;
				box-shadow: none;
				background-color: transparent;
			}
		}
	}
}

@media (max-width: 425px) {
	.logo {
		flex: 0 0 50px;

		&__picture {
			width: 50px;
			height: 50px;
		}
	}
}
